/***********entete*******/
#haut-entete{
    display: flex;
    justify-content: space-around;
    background-color: rgb(221, 114, 75);
    height: 80px;
    margin: 0px;
}
.enseigne{
    display: flex;
    text-align: center;
    vertical-align: middle;
}
#nav-entete{
    margin: 0px;
    height: 20px;
    background-color: gray;
    display: flex;
    justify-content: space-around;
}
#nav-entete a{
    text-decoration: none;
    color: rgb(51, 92, 204);
    animation-duration: 0.3s;
}
#nav-entete a:hover{
    color: rgb(131, 46, 15);
    transition-duration: 0.3s;   
}
/*************************/