:root{
    --couleur: rgba(224, 97, 12, 0.562);
    --color: gray;
}

/***********entete*******/
#haut-entete{
    display: flex;
    justify-content: space-around;
    background-color: var(--couleur);
    height: 80px;
    margin: 0px;
}
.enseigne{
    display: flex;
    text-align: center;
    vertical-align: middle;
}
#nav-entete{
    margin: 0px;
    height: 20px;
    background-color:var(--color);
    display: flex;
    justify-content: space-around;
}
#nav-entete a{
    text-decoration: none;
    color: rgb(51, 92, 204);
    transition: all 0.3s linear;
}
#nav-entete a:hover{
    color: rgb(131, 46, 15);
}
/*************************/